# Dependencies
node_modules
.npm

# Build outputs
.next
out

# Development
.env*.local
.env

# IDE
.idea
.vscode

# Git
.git
.gitignore

# Testing
coverage

# Misc
*.log
npm-debug.log*

# Infrastructure
infra

# Documentation
*.md
!README.md
